
<footer class="footer footer-big footer-transparent" style="background-image: url('assets/img/footer.jpg')">

          
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                 
               <li style="list-style-type: none;">
                    <h4 class="btn btn-social btn-round"> <i class="fa fa-phone"></i> Phone:  <small>887 01 03 095</small></h4>
                </li>

            </div>
            <div class="col-md-3 col-md-offset-1">
                <h5 class="title">Shopping</h5>
                <nav>
                <ul>
                   <li>
                        <a href="index.html" >
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="mobiles.html">
                            Smartphone
                        </a>
                    </li>
                    <li>
                        <a href="shirts.html">
                           Men
                        </a>
                    </li>
                    <li>
                        <a href="sarees.html">
                           Women
                        </a>
                    </li>
                    
                    
                </ul>
                </nav>
            </div>
            <div class="col-md-3">
                <h5 class="title">Products</h5>
                <nav>
                    <ul>
                        <li>
                            <a href="mobiles.html">
                              Samsung
                            </a>
                        </li>
                        <li>
                            <a href="sarees.html">
                               Sarees
                            </a>
                        </li>
                        <li>
                            <a href="shirts.html">
                                T-Shirts
                            </a>
                        </li>
                       
                    </ul>
                </nav>
            </div>
            <div class="col-md-3">
                        <li style="list-style-type: none;">
                            <h4 class="btn btn-social btn-round"> <i class="fa fa-envelope" aria-hidden="true"></i> E-mail: <small>praveenkumar.h2015@vit.ac.in</small> </h4>
                        </li>
            </div>
        </div>
        
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div class="social-area text-center">
                <button class="btn btn-social btn-round">
                    <i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
                    <h6>Track Order</h6>
                </button>
               </div> 
            </div>
            <div class="col-md-4">
              <div class="social-area text-center">
                <button class="btn btn-social btn-round">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    <h6>Free & Easy Returns</h6>
                </button>
               </div> 
            </div>
            <div class="col-md-4">
              <div class="social-area text-center">
                <button class="btn btn-social btn-round">
                    <i class="fa fa-ban" aria-hidden="true"></i>
                    <h6>Online Cancellations</h6>
                </button>
               </div> 
            </div>
          </div>
        </div>
          
        <hr />
        <div class="social-area text-center">
                <h5>Contact</h5>
                <a href="https://goo.gl/bFDdT7" target="_blank" class="btn btn-social btn-round">
                    <i class="fa fa-facebook"></i>
                </a>

                <a href="https://goo.gl/rvyoym" target="_blank" class="btn btn-social btn-round">
                    <i class="fa fa-linkedin"></i>
                </a>

                <a href="http://praveen-kumar-h.cf" target="_blank" class="btn btn-social btn-round">
                    <i class="fa fa-link"></i>
                </a>
            </div>

        
    </div>
</footer>
         



<script src="assets/js/jquery.js" type="text/javascript"></script>
<script src="bootstrap3/js/bootstrap.min.js" type="text/javascript"></script>
<script src="bootstrap3/js/jssor.slider.min.js" type="text/javascript"></script>
<script src="assets/js/get-shit-done.js"></script>
<script type="text/javascript" src="bootstrap3/js/slider.js"></script>
</body>
</html>
